*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 1%;
}
.name{
    text-decoration: underline;
}
.name.center{
    text-align: center;
    margin-bottom: 30px;
}

.form{
    margin-top: 20px;
    max-width: 500px;
}
.form__field:nth-child(2){
    border-top: 1px solid grey;
}

.form.center{
    margin: 0 auto;
}

.form legend{
    font-weight: 300;
}

.form__field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 7px 5px;

    border-bottom: 1px solid grey;
}

.form__field-text {
    font-size: 14px;
}

.form__field-input{
    outline: none;
    border: 1px solid grey;
    border-radius: 3%;

    padding: 3px 3px;
}

.form__navigation{
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__navigation button{
    padding: 1% 2%;
    cursor: pointer;
}